html, body, #root {
    height: 100%;
    text-align: center;
    font-size: x-large;
    background-image: url(assets/jpg/download.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: blue;
}

input, select, button {
    font-size: x-large;
}